*{
    background: cyan;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    overflow-y: hidden;
    
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main{
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;
    
}

.text-area {
    height: 400px;
    border: none;
    color: purple;
    margin-left: 30px;
    padding: 2px;
    text-transform: lowercase;
}
::placeholder { color: orange; }
  .text-area:focus {
      outline: none;
    }

.mensaje{
    height: 630px;
    background: ;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position: right;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-right: 98px;
    padding-left: 20px;
    position: fixed;
}
.mensaje:focus {
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background: yellow;
    border: 1px solid blue;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 70px;
    width: 328px;
    font-weight: bold;
}

.btn-encriptar {
    background-color: pink;
    border: 1px solid red;
    border-radius: 24px;
    color: black;
    cursor: pointer;
    height: 67px;
    width: 328px;
    font-weight: bold;
}

.copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 120px;
    margin-top: 565px;
    position: absolute;
    width: 336px;
}

.informacion {
    color: blue;
    font-size:20px;
    font-weight: bold;
}